<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
    <link rel="stylesheet" href="/css/normalize.css">
      <link rel="stylesheet" href="/css/skeleton.css"></head>

<body>
    <nav>
        <div class="container">
            <a href="/">Home</a>
        </div
    </nav>
    <div class="container">

        {{ content }}

    </div>
    <!-- /.container -->
    <footer>
    </footer>
</body>

</html>
