<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css"></head>

<body>
    <nav>
        <div class="container">
            <a href="/">Home</a>
        </div
    </nav>
    <div class="container">

        {{ content }}

    </div>
    <!-- /.container -->
    <footer>
        <div class="container">
            <div class="g-follow" data-annotation="bubble" data-height="15" data-href="//plus.google.com/u/1/109129589113968214362" data-rel="author"></div>
        </div>
    </footer>
    <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'en-GB'}
    </script>
</body>

</html>
